.breaking-container {
  margin: 50px 0;
  background: #e3e6f3;
  padding: 1.5em 5em;
}

.breaking-button {
  outline: none;
  border: none;
  background: #eb0c0c;
  color: #fff;
  padding: 8px;
  font-size: 1.4em;
}

.breaking-wrapper {
  display: grid;
  grid-template-columns: 3fr 2%;
}
.news-item-wrapper {
  display: grid;
  gap: 0.1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.news-link {
  max-width: 26em;
  margin-top: 2em;
}

.news-date {
  font-size: 1.2em;
}

.news-title {
  font-size: 1.4em;
  font-weight: 400;
  margin-top: 0.5em;
}

.arrow-right {
  font-size: 5em;
}

@media only screen and (max-width: 768px) {
  .news-item-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
