.hero-container {
  margin: 6em;
}

.hero-edition-wrapper {
  display: flex;
  margin-bottom: 1.6em;
  cursor: pointer;
}

.hero-edition {
  font-size: 1.4em;
  opacity: 0.8;
  margin-right: 0.5em;
}

.arrow-down {
  font-size: 1.4em;
  opacity: 0.8;
}

.hero-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3em;
}

.hero-item .row-1 {
  max-width: 60em;
}

.hero-item img {
  width: 100%;
}
.hero-description {
  text-align: center;
}
.desc-title {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 700;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
}

.desc-subtitle {
  font-size: 1.6em;
  margin-top: 0.6em;
}

.top-title {
  font-size: 2em;
  font-weight: 600;
}

.top-link {
  display: flex;
  flex-direction: column;
}

.top-link span {
  padding: 1.6em 0;
  font-size: 1.6em;
  cursor: pointer;
}

.border-headline {
  position: relative;
}

.border-headline::before {
  content: "";
  position: absolute;
  width: 20em;
  height: 0.05em;
  background-color: gray;
  bottom: 1em;
  left: 52%;
  transform: translateX(-50%);
}

.top-title {
  outline: none;
  border: none;
  background: #004d25;
  color: #fff;
  padding: 8px;
  font-size: 1.4em;
  font-weight: 500;
  text-transform: uppercase;
}

.border-bottom-light {
  position: relative;
}

.border-bottom-light::before {
  content: "";
  position: absolute;
  width: 130em;
  height: 0.1em;
  background-color: #000;
  bottom: -3em;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .hero-content {
    grid-template-columns: 1fr;
  }

  .top-title {
    display: flex;
    padding: 10px 100px;
    margin: 0 auto;
  }

  .border-headline::before {
    width: 20em;
  }

  .hidden-text {
    display: none;
  }
}
