.popular-container {
  margin: 6em;
}

.popular-title {
  font-size: 2em;
  font-weight: 600;
}

.popular-content {
  display: flex;
  gap: 8em;
}

.content-item-link {
  max-width: 50em;
  margin-bottom: 3em;
}
.content-item-link img {
  width: 100%;
}

.item-link-desc {
  text-align: center;
}

.item-link-desc span {
  font-size: 1.4em;
}

.item-link-title {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.item-description {
  text-align: center;
  max-width: 100%;
}

.item-description img {
  width: 100%;
}
.desc-title {
  font-size: 2em;
  font-weight: 500;
}

.border-bottom-desc {
  position: relative;
}

.border-bottom-desc::before {
  content: "";
  position: absolute;
  width: 70em;
  height: 0.1em;
  background-color: gray;
  bottom: -1em;
  left: 52%;
  transform: translateX(-50%);
}

.item-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.item-list {
  margin: 4em 0;
}

.item-list-wrapper {
  display: flex;
}

.item-list-img {
  max-width: 15em;
}

.item-list-img img {
  width: 100%;
}

.item-list-desc {
  width: 20em;
  margin-left: 1em;
  font-size: 1.2em;
}

.item-list-subtitle {
  margin: 1em 0;
}

@media only screen and (max-width: 768px) {
  .popular-content {
    flex-direction: column;
  }

  .item-list {
    grid-template-columns: 1fr;
  }
}
